:root {
    --bg-color: #f6f8fa;
    --bg-inv-color: #24292f;
    --text-color: #24292f;
    --text-inv-color: #ffffff;
    --company-logo-width: 120px;
    --company-logo-height: 120px;
}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
    font-size: 10px;
}

body {
    margin: 0;
    font: 1.4em / 2.2em "PT Sans", sans-serif;
    min-width: 600px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.center-element {
    margin: 0 auto;
    max-width: 960px;
    box-sizing: border-box;
    padding: 0 10px;
}

.site-header {
    height: 230px;
    background: var(--bg-color);
    color: var(--text-color);
}

.site-header > .center-element {
    display: flex;
}

.header-left {
    padding-top: 55px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.company-logo {
    height: var(--company-logo-height);
    width: var(--company-logo-width);
}

.company-data {
    height: var(--company-logo-height);
    margin-left: 15px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.company-name {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.company-name > a,
.company-name > a:visited {
    text-decoration: none;
    color: inherit;
}

.header-right {
    min-width: max-content;
    padding-top: 50px;
    text-align: right;
}

.phone-number {
    font-family: "PT Sans", sans-serif;
    font-stretch: condensed;
    font-size: 3.5rem;
    line-height: 40px;
}

.feedback {
    font-size: 2rem;
    font-weight: bold;
    font-stretch: condensed;
    text-decoration: underline dashed;
    color: var(--text-color);
}

.feedback:hover {
    color: black;
    text-decoration-style: solid;
}

#call-button {
    cursor: pointer;
}

.site-nav {
    background: var(--bg-inv-color);
}

.site-nav ul {
    margin: 0;
    text-align: center;
    padding: 18px 0;
}

.site-nav li a {
    margin: 0 3px;
    color: var(--text-inv-color);
    font-size: 2.1rem;
}

.site-nav li+li::before {
    content: "|";
    color: var(--text-inv-color);
    margin-right: 8px;
    font-size: 2.1rem;
    transform: translate(0, 15px);
}

.slides {
    position: relative;
    background-color: var(--bg-inv-color);
}

.slides-wrapper {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slides-wrapper>* {
    min-height: 100%;
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s linear;
}

.slides-wrapper>*:not(.active) {
    opacity: 0;
}

.slides-wrapper>.active {
    opacity: 1;
}

.slides-previous,
.slides-forward {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: var(--bg-color);
    padding: 16px 8px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 8px;
}

.slides-previous {
    background-image: url(../images/arrow-left.png);
    left: 16px;
}

.slides-forward {
    background-image: url(../images/arrow-right.png);
    right: 16px;
}

.content {
    flex-grow: 1;
    margin-top: 16px;
}

.content>.center-element {
    display: flex;
    gap: 16px;
}

.content .sidebar {
    flex-basis: 200px;
    flex-shrink: 0;
    font-size: 2rem;
}

.content .sidebar li>a {
    color: var(--text-color);
}

.content .sidebar li>a.selected:before {
    content: "➤ ";
}

.content .sidebar>ul {
    list-style: none;
    padding-left: 0;
}

.content .sidebar>ul>li>ul {
    list-style: disc;
    padding-left: 30px;
}

.content .right-block {
    flex-grow: 1;
}

.horizontal-menu li {
    display: inline;
}

.horizontal-menu,
.vertical-menu {
    margin: 0;
    padding-left: 0;
}

.horizontal-menu li,
.vertical-menu li {
    list-style: none;
}

.horizontal-menu li>a,
.vertical-menu li>a {
    text-decoration: none;
}

.horizontal-menu li>a:hover,
.vertical-menu li>a:hover {
    text-decoration: underline solid;
}

.breadcrumbs {
    padding: 8px 0;
    background: var(--bg-inv-color);
    color: var(--text-inv-color);
}

.breadcrumbs li a {
    margin: 0 6px;
    color: var(--text-inv-color);
}

.breadcrumbs li+li::before {
    content: "/";
}

.offers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 16px;
}

.offer {
    padding: 20px;
    display: flex;
    flex-flow: column;
    background-color: var(--bg-color);
}

.offer > .name {
    margin: 10px auto;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.offer > img {
    margin: 0 auto;
    display: block;
    border: 6px solid #24292f;
    box-shadow: 0 0 15px -3px #24292f;
}

.offer > .description {
    margin-top: 12px;
    flex-grow: 1;
    font-size: 1.8rem;
}

.offer .bottom {
    margin-top: 20px;
    display: flex;
}

.offer .views {
    flex-grow: 1;
    font-size: 2.2rem;
}

.views:after {
    content: " 👁";
}

.offer > .bottom img {
    cursor: pointer;
}

.pagination {
    margin-top: 24px;
    font-size: 1.8rem;
}

.pagination ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination ul>li>a {
    color: var(--text-color);
}

.company-description-hr {
    margin-top: 70px;
    margin-bottom: 20px;
}

.company-description {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
}